.table {
    width: 90%;
    border: 1px solid black;
    background-color: rgb(255, 231, 47);
    margin: auto auto auto auto;
}

.cell {
    border: 1px solid black;
    background-color: rgb(255, 231, 47);
    /*center elements horizontally */
    text-align: center;
    /*put element at the end of the cell */
    vertical-align: bottom;
}

.movie-title {
    font-size: 1.5rem;
    font-weight: bold;  
}